.color-preview {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin-top: 5px;
  margin: auto;
}

.card {
  width: 220px;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 1em;
  background-color:cornsilk;
}
.App {
  text-align: center;
}
.card-color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 1em;
  
}
.inputNumber {
  width: 10em;
  margin-top: 10px;
}
.btnSave {
  width: 5em;
  margin-right: 5px;
  margin-bottom: 1em;
}
.btnReset {
  width: 5em;
  margin-left: 5px;
  margin-bottom: 1em;
}
.swatch-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
}
.inputNumber{
  margin-left: 5px;
}
.swatch-name{
  margin-top: 5px;
  margin-bottom: 5px;

}
.swatch-title {
  color: whitesmoke;
}
body {
  background-image: url("/src/wallpapertip_wallpaper-screen-wallpaper_863976.jpg");
}
@media (max-width: 736px) {
  /* //swatch result// */
  .swatch-main-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .card {
    width: 90px;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 1em;
    background-color:cornsilk;
    flex-direction: row;
    justify-content: center;
  }
  .swatchCard{
    width: 10px;
  }
  .color-preview {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-top: 5px;
    margin: auto;
    
  }
  .inputNumber {
    width: 3em;
    margin-top: 10px;
  }
  .swatchCardResult{
    /* height: 30px; */
  }
  .slider {
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 10px; */
  }
  #typeinp {
    width: 4.5em;
  }
 
}
